<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <startup>
         
        </startup>
        <connectionStrings>
          <add connectionString="Data Source=duho-pc;Initial Catalog=Clinic;Integrated Security=True;MultipleActiveResultSets=True" name="ClinicConnection" providerName="System.Data.Sqlclient"/>
        </connectionStrings>
</configuration>