<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <startup>
         
        </startup>
        <connectionStrings>
        <add name="ClinicReport.Properties.Settings.Clinic" connectionString="Data Source=.;Initial Catalog=Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add connectionString="Data Source=.;Initial Catalog=Clinic;Integrated Security=True;MultipleActiveResultSets=True" name="ClinicConnection" providerName="System.Data.Sqlclient"/>
        </connectionStrings>
</configuration>